div{
    background-color: rgba(0, 0, 255, 0.9);
    width: 300px;
    height: 300px;
    margin: 80px;
    border-style: solid;
    border-width: 20px;
    border-color: rgba(255, 0, 0, 0.9);
    border-radius: 30px;


    border-top-color:orange;
    border-right-color: purple;
    border-left-color: green;
    border-bottom-color: red;

outline-style: dashed;
outline-width: 15px]d sa;

}