div {
  background-color: blue;
  width: 100px;
  height: 100px;

  border: solid red 5px;
  border-radius: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
  display: inline-block;

  margin-top: 50px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
}
