#the_green{
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
}

#the_blue{
    height: 300px;
    width: 300px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1
     ;
}


#the_red{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 150px;

}

